[mysql]
default-character-set=utf8

[client]
default-character-set=utf8

[mysqld]
bind-address = 0.0.0.0
sql-mode="NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,STRICT_TRANS_TABLES"
collation-server = utf8_unicode_ci
init-connect = 'SET NAMES utf8'
character-set-server = utf8
default-time-zone = "+01:00"
secure-file-priv = ""
